src/TextRipper.Web/Web References/TextRipperApi/TextRipper.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="contentType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTextResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTextSoapIn">
    <wsdl:part name="parameters" element="tns:GetText" />
  </wsdl:message>
  <wsdl:message name="GetTextSoapOut">
    <wsdl:part name="parameters" element="tns:GetTextResponse" />
  </wsdl:message>
  <wsdl:portType name="TextRipperSoap">
    <wsdl:operation name="GetText">
      <wsdl:input message="tns:GetTextSoapIn" />
      <wsdl:output message="tns:GetTextSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TextRipperSoap" type="tns:TextRipperSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetText">
      <soap:operation soapAction="http://tempuri.org/GetText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TextRipperSoap12" type="tns:TextRipperSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetText">
      <soap12:operation soapAction="http://tempuri.org/GetText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TextRipper">
    <wsdl:port name="TextRipperSoap" binding="tns:TextRipperSoap">
      <soap:address location="http://localhost:64704/TextRipper.asmx" />
    </wsdl:port>
    <wsdl:port name="TextRipperSoap12" binding="tns:TextRipperSoap12">
      <soap12:address location="http://localhost:64704/TextRipper.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>